{% extends "template.html" %}

{% block conteudo %}
    <h2>{{title}}</h2>

    <form action="{{url_for('criar')}}" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control"/>
          
        </div>
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria:</label>
                <input type="text" id="categoria" name="categoria" class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="console" class="form-label">Console:</label>
                <input type="text" id="console" name="console" class="form-control"/>
            </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock conteudo %}
